
<ion-row text-center class="text-items">
  <ion-col col-3>
    <div class="img-stream">
      <img src="assets/img/stream.png">
      <div class="text-stream">
        Stream
      </div>
    </div>
  </ion-col>
  <ion-col col-3>
    <div class="img-about">
      <img src="assets/img/about.png">
      <div class="text-about">
        About
      </div>
    </div>
  </ion-col>
  <ion-col col-3>
    <div class="img-promotions">
      <img src="assets/img/promotions.png">
      <div class="text-promotions">
        Promotions
      </div>
    </div>
  </ion-col>
  <ion-col col-3>
    <div class="img-drops">
      <img src="assets/img/drops.png">
      <div class="text-drops">
        Drops
      </div>
    </div>
  </ion-col>
</ion-row>
